# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.FPS Game.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\Projects\FPS-Game\FPS Game\.idea\.idea.FPS Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
